/* Set border around charts */
.chart {
    -fx-border-color: black; 
    -fx-border-width: 2px;   
    -fx-border-style: solid; 
}

/* Adjust legend so everything fits in pie chart*/
.chart-legend {
    -fx-font-size: 12px; 
    -fx-padding: 10;     
}

/* Adjust spacing between bars in bar chart*/
.chart-legend-item {
    -fx-padding: 5;      
}

/* Chart income color */
.default-color0.chart-bar {
    -fx-bar-fill: green; 
}

/* Chart expense color */
.default-color1.chart-bar {
    -fx-bar-fill: orange; 
}

/* Disabled dates don't look greyed out */
.date-picker:disabled {
    -fx-opacity: 1;       
    -fx-background-color: white;
    -fx-text-fill: black;
}







