/********************************** Color Scheme *********************************

Primary:
Main Purple #492365
Main Grey   #4a494d

Complementary: high sat -> low sat
-- Bluer purples:
#70569e
#a595c4
#cbc3dc
#f3eff6

-- True purples:
#814d9d
#a275b3
#d3c2df
#f3f0f4

Secondary:
Blue   #2dbbc4
Green  #91c74f
Yellow #efad21
Brown  #f16357
*/

/************************** Styling to fix visual bugs ****************************/

/* Adjust legend so everything fits in pie chart*/
.chart-legend {
    -fx-font-size: 12px; 
    -fx-padding: 10;     
}

/* Adjust spacing between bars in bar chart*/
.chart-legend-item {
    -fx-padding: 5;      
}


/************************************** General styling *******************************/
.main-gui {
	-fx-background-color: linear-gradient(
        from 0% 0% to 0% 100%, 
		#d3c2df,
		#cbc3dc
    );
}

ToggleButton {
	-fx-color: #492365;
	-fx-padding: 40px; 
}

PasswordField {
	-fx-background-color: #f3f0f4;
	-fx-padding: 15px;
}

.tracker-page ToggleButton {
	-fx-padding: 10px; 
}
.tracker-page {
	-fx-font-size: 12px;
	-fx-font-weight: BOLD;
}

.title-pane {
	-fx-background-color: linear-gradient(
        from 100% 0% to 0% 100%, 
		#814d9d,
		#a275b3,
		#d3c2df
    );
}
.input-pane, .chart-pane {
	linear-gradient(
        from 0% 0% to 0% 100%, 
		#d3c2df,
		#cbc3dc
    );
}
.history-pane {
	-fx-background-color: linear-gradient(
        from 0% 100% to 100% 0%, 
		#70569e,
		#a595c4,
		#cbc3dc
    );
}
Button {
	-fx-color: #a595c4;
	-fx-padding: 15px;
}

ComboBox {
	-fx-color: #a595c4;
	-fx-padding: 12px;
}

.chart {
    -fx-border-color: black; 
    -fx-border-width: 2px;   
    -fx-border-style: solid; 

	-fx-background-color: #f3f0f4;
}

.history-table {
	-fx-border-color: #4a494d;
}
.history-table ComboBox{
	-fx-color: #f3eff6;
		-fx-padding: 0;
}

.default-color0.chart-bar { /* income bar */
    -fx-bar-fill: #91c74f; 
}

.default-color1.chart-bar { /* expense bar */
    -fx-bar-fill: #f16357; 
}

.date-picker:disabled {
    -fx-opacity: 1;       
    -fx-background-color: white;
    -fx-text-fill: black;
}

.separator {
	-fx-background-color: #4a494d;	
}