/********************************** Color Scheme *********************************

Primary:
Main Purple #492365
Main Grey   #4a494d

Complementary: high sat -> low sat
-- Bluer purples:
#70569e
#a595c4
#cbc3dc
#f3eff6

-- True purples:
#814d9d
#a275b3
#d3c2df
#f3f0f4

Secondary:
Blue   #2dbbc4
Green  #91c74f
Yellow #efad21
Brown  #f16357
*/

/************************** Styling to fix visual bugs ****************************/

/* Adjust legend so everything fits in pie chart*/
.chart-legend {
    -fx-font-size: 12px; 
    -fx-padding: 10;     
}

/* Adjust spacing between bars in bar chart*/
.chart-legend-item {
    -fx-padding: 5;      
}


/************************************** General styling *******************************/
.main-gui {
	-fx-background-color: #cbc3dc;
}

ToggleButton {
	-fx-color: #492365;
	-fx-padding: 40px; 
}









.chart {
    -fx-border-color: black; 
    -fx-border-width: 2px;   
    -fx-border-style: solid; 
}

.default-color0.chart-bar { /* income bar */
    -fx-bar-fill: green; 
}

.default-color1.chart-bar { /* expense bar */
    -fx-bar-fill: orange; 
}

.date-picker:disabled {
    -fx-opacity: 1;       
    -fx-background-color: white;
    -fx-text-fill: black;
}










